templates/flow.json
[{"id":"{{flow}}","type":"tab","label":"{{flow}}"},
{"id":"{{topic}}","type":"stomp in","z":"{{flow}}","name":"{{topic}}",
  "server":"ActiveMQ","topic":"/topic/{{topic}}","x":128.5,"y":238,
  "wires":[["to_json"]]},
{"id":"debug-3","type":"debug","z":"{{flow}}","name":"","active":false,
  "console":"false","complete":"false","x":473.5,"y":264,"wires":[]},
{"id":"to_json","type":"json","z":"{{flow}}","name":"","pretty":false,
  "x":298.5,"y":332,"wires":[["filter_data","debug-3"]]},
{"id":"filter_data","type":"function","z":"{{flow}}","name":"filter_data",
  "func":"var data = JSON.parse(msg.payload);\nvar result = {'Title' : data['title'],\n'Author': data['author'],\n'Summary': data['summary'],\n'Tags':data['tags'],\n'Published':data['published'],\n'URL':data['href']\n};\nmsg.payload = result;\nreturn msg;",
  "outputs":1,"noerr":0,"x":468.5,"y":360,"wires":[["filter_tags","filter_authors"]]},
{"id":"filter_tags","type":"function","z":"{{flow}}","name":"Filter_tags",
  "func":"var data = msg.payload;\nvar outputMsgs = [];\nvar tags = data['tags'];\ndelete data[tags];\nvar result = data;\nfor (var tag in tags){\n    msg.collection = 'tag_' + tags[tag]['term'];\n    result['other_tags'] = get_other_tags(tags[tag]['term'], tags);\n    msg.payload = result;\n    outputMsgs.push(msg);\n}\nreturn outputMsgs;\n\nfunction get_other_tags(tag, tags){\n    var other_tags = [];\n    for (var t in tags){\n        if (tag != tags[t]['term']){\n            other_tags.push(tags[t]['term']);\n        }\n    }\n    return other_tags;\n}",
  "outputs":1,"noerr":0,"x":698.5,"y":270,"wires":[["debug-1","{{db}}-tags"]]},
{"id":"filter_authors","type":"function","z":"{{flow}}","name":"filter_authors",
  "func":"data = msg.payload;\nmsg.collection = 'author_' + data['Author'];\ndelete data['Author'];\nmsg.payload = data;\nreturn msg;",
  "outputs":1,"noerr":0,"x":695.5,"y":406,"wires":[["debug-2","{{db}}-Authors"]]},
{"id":"{{db}}-tags","type":"mongodb out","z":"{{flow}}","mongodb":"MonogDB",
  "name":"{{db}}-tags","collection":"","payonly":true,"upsert":false,"multi":false,
  "operation":"insert","x":929.5,"y":302,"wires":[]},
{"id":"{{db}}-Authors","type":"mongodb out","z":"{{flow}}","mongodb":"MonogDB","name":"{{db}}-Authors",
  "collection":"","payonly":true,"upsert":false,"multi":false,"operation":"insert",
  "x":940.5,"y":442,"wires":[]},
{"id":"debug-1","type":"debug","z":"{{flow}}",
  "name":"","active":true,"console":"false","complete":"false","x":915.5,"y":237,"wires":[]},
{"id":"debug-2","type":"debug","z":"{{flow}}","name":"","active":true,
  "console":"false","complete":"false","x":918.5,"y":374,"wires":[]},
{"id":"ActiveMQ","type":"stomp-server","z":"","server":"{{activemq}}",
  "port":"61613","protocolversion":"1.0","vhost":"","reconnectretries":"5","reconnectdelay":"0.5",
  "name":"{{topic}}"},
{"id":"MonogDB","type":"mongodb","z":"","hostname":"{{mongodb}}",
  "port":"27017","db":"{{db}}","name":"{{db}}"}]
